body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------
:: 5.0 Header Area CSS
------------------------ */
 .header_area{
    height: 200px;
    width: 100%;
}
.top_header_area {
    height: 80px;
    width: 100%;
    position: relative;
    z-index: 1000;
    text-align: center;
  }

  .top_header_area .top_single_area .top_logo .brand_name{
    padding-top: 30px;
    text-transform: uppercase;
    color: #c416ac;
  }
  
  .main_header_area {
    height: 50px;
    width: 100%;
    
  }
  .navbar-nav  {
   width: 600px;
   height: 100px;
   justify-content: space-around;
   align-self: center;
   text-align: center;
   display: flex;
}
  
 
  .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
}
  
/* ------------------------
:: 5.0 Header Area CSS
------------------------ */  

.top-area .container{
 height: 100%;
 padding: 30px;
 justify-content: center;
 align-self: center;
}

.top-area .jumbotron{
    border-radius: 30px;
    background-color: #8a796f;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 70px;
    text-transform: uppercase;
    
}


.top-area .jumbotron .btn{
    padding: 10px;
    width: 100px;
    margin-top: 20px;
    justify-content: center;
    align-self: center;
    background-color: rgb(57, 51, 110);
    border: none;
    border-radius: 10px;
}

/*tour date area*/

.concert-area{
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
    border: 1px solid;
    background-color: rgba(58, 58, 146, 0.911);
}
.contact{
    justify-content: center;
    align-self:center; 
    padding: 30px;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
   
}

.contact .row{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact .card{
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  width: 150px;
  margin: 5px;
  height: 400px;
  border: 1px solid;
  border-radius: 15px; 
  color:#fff;
  background-color: rgba(66, 61, 131, 0.863);
}
.contact .row .card .contain{
    justify-content: center;
    align-self: center;
    text-align: center;
    padding-bottom: 50px;
    color: rgb(87, 187, 170);
}
.card .contain h3{
    font-size: 25px;
    font-weight: 600px;
    padding-top: 50px;
}

.card p{
    font-size: 18px;
    padding-bottom: 40px;
}
.card .btn-primary{
    background-color: rgb(35, 72, 175);
    border: none;
    height: 50px;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
/*tour date area*/

/*About starts here*/
.reform{
    display: flex;
    width: 100%;
    justify-content: center;
    align-self:center; 
    padding: 20px;
}
.reform .container .row{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reform h1{
    padding: 20px;
}
.reform .team-members{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.reform .container .row{
    justify-content: center;
    align-content: center;
    text-align: center;
}

.reform .container .row .card{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width: 200px;
    margin: 5px;
    height: 400px;
    border: 1px solid;
    border-radius: 15px; 
    color:#fff;
    background-color: rgba(35, 32, 77, 0.863);
  }
  /* --------------------------
:: 10.0 Top Catagory Area CSS
-------------------------- */
.top-discount-area{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .single_catagory_area {
    padding: 150px;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    
  }
  
  
  
  .single_catagory_area:hover:after {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  }
  
  .single_catagory_area h6 {
    text-transform: uppercase;
  }
  
  .catagory-content {
    width: 55%;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-left: 50px;
  }

/** Studio picture Area Start **/
img{
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 500px;
}
/** Studio picture Area Start **/

/* -------------------
 Top Discount CSS
------------------- */

.top-discount-area .single-discount-area {
    width: 100%;
    padding: 50px 15px;
    background-color: #868686;
    text-align: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    
  }
  
  .top-discount-area .single-discount-area:nth-child(2) {
    background-color: #c416ac;
  }
  
  .top-discount-area .single-discount-area:last-child {
    background-color: #ff0651f1;
  }
  
  .top-discount-area .single-discount-area h5 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .top-discount-area .single-discount-area h6,
  .top-discount-area .single-discount-area a {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
  }